- content_for(:title) { "Gaslight: Recent Work" }
= render partial: 'application/nav'

#main.container.row
  %header.row.brand2
    .headline.brandBase.four.columns
      %h1 We listen. <br/>We <strong>Innovate</strong>.
    .intro.eight.columns
      %h3 We build apps and software that build businesses.
      %p We’re passionate about building things. But only if they’ll make a measurable difference for your business. That’s why our work starts and ends with listening.
      %p We want to understand your needs, so the technology we create together truly adds value to your business or organization. The final product might be anything from an iPhone app for your customers to a web app that runs a key business function.

  %section.row.yourTeam
    %a.anchor{name:"team"}
    .eleven.columns.centered
      %h2.title.brand2 Your Project Team
      %p.lead When you work with us, you’ll never be competing with other clients for our time or attention. We assign a dedicated team to every project that’s 100% focused on your goals. In fact, you can expect them to be in touch just about every day as they turn your ideas into a success story.
      %hr.divider.show-for-small
      .row
        .three.columns.iconTile
          %i.icon-team-dev
          %strong Two Developers
        .nine.columns
          %p Why two? We believe in pair programming—two developers working side-by-side to create great code. This tag-team effort leads to faster and better solutions.

      .row
        .three.columns.iconTile
          %i.icon-team-des
          %strong A Designer
        .nine.columns
          %p Design matters. We integrate the design and development process to create a product that not only looks better, but works better, too. It’s one of the keys to creating a great user experience.
      .row
        .three.columns.iconTile
          %i.icon-team-guide
          %strong A Project Guide
        .nine.columns
          %p It’s someone who has been through the design and development countless times and can steer your project to success. Isn’t that a project manager? Nope. It’s something better.Read our  <a target="_blank" href="http://blog.gaslight.co/post/33366262350/happy-gaslighters-happy-clients" rel="Blog Manifesto Link">mini manifesto</a>.

  %section.row.clients
    %a.anchor{name:"clients"}
    .eleven.columns.centered
      %h2.title.brand2 Our Clients
      %p.lead We work with businesses, start-ups and visionaries across the country. Typically, we collaborate directly with the owner or another key stakeholder to create custom software and applications that play a central role in our clients’ companies. These businesses span a wide range of industries.
      %ul.clientsList.row
        %li
          = link_to('http://www.pg.com/en_US/') do
            %i.brand-pg
        %li
          = link_to('http://outright.com/') do
            %i.brand-outright
        %li
          = link_to('http://enjoythearts.org/') do
            %i.brand-eta
        %li
          = link_to('http://www.sharethrough.com/') do
            %i.brand-sharethrough
        %li
          = link_to('http://agrisiteipm.com/') do
            %i.brand-agsync
        %li
          = link_to('http://roadtrippers.com/') do
            %i.brand-roadtripper
        %li
          = link_to('http://www.apexindustrial.com/') do
            %i.brand-apex
        %li
          = link_to('http://www.lumbeena.com/') do
            %i.brand-lumbee
        %li
          = link_to('http://www.ccli.org/') do
            %i.brand-ccl
        %li
          = link_to('http://www.hyperquake.com/') do
            %i.brand-hyperquake
        %li
          = link_to('https://renewfund.com/overview') do
            %i.brand-renewfund
        %li
          = link_to('https://www.vendorwizard.com/') do
            %i.brand-vendor

= render partial: 'application/footer'
