- content_for(:title) { "Gaslight Blog: Archive" }

= render partial: 'application/nav'
#main.container.row
  .columns.eight
    - posts.each do |month, posts|
      %h3
        = l(month.to_date, format: :year_and_month)
        %span
          (#{pluralize(posts.count, 'post')})
      = render partial: 'post_list', locals: { posts: posts }
  = render partial: 'index_sidebar'
= render partial: 'application/footer'
