- content_for(:title) { "Gaslight Blog" }

= render partial: 'application/nav'
#main.container.row
  .columns.eight
    - if params[:tagged].present?
      %h2 #{pluralize(posts.count, 'post')} tagged with #{params[:tagged]}
      = render partial: 'post_list', locals: { posts: posts }
    - elsif params[:q].present?
      %h2 #{pluralize(posts.count, 'post')} containing '#{params[:q]}'
      = render partial: 'post_list', locals: { posts: posts }
    - elsif params[:author].present?
      %h2 #{pluralize(posts.count, 'post')} written by #{author[:name]}
      = render partial: 'post_list', locals: { posts: posts }
    - else
      = render posts
      = paginate posts
  = render partial: 'posts/index_sidebar'
= render partial: 'application/footer'
