- content_for(:title) { post.title }
= render(partial: 'meta')

= render partial: 'application/nav'
#main.container.row
  .columns.eight
    = render post
    .comments#disqus_thread
    %noscript
      Please enable JavaScript to view the
      %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus
  = render partial: 'posts/show_sidebar'

= render partial: 'application/footer'

- content_for(:javascript) do
  :javascript

    $(window).load(function(){
      shareView = new Gaslight.Views.ShareView({
        shareUrl: window.location,
        targetEl: $('.post'),
        viewportEl: $(window)
      });
      $('body').append(shareView.render().el)

      var disqus_shortname = '#{ENV.fetch('DISQUS_SHORTNAME')}';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    });


